<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cloud Hotel</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
    <!--
    Your HTML goes here. Visit purecss.io/layouts/ for some sample HTML code.
    -->



    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Cloud Houtel  ADMIN</h1>
            <p class="splash-subhead">
                {{ message }}
            </p>
         
        </div>
    </div>


    <div class="content-wrapper">
        <div class="content">
            <form id="my-form" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Username</label>
                        <input id="username" name="username" type="text" placeholder="Username">
                        <span class="pure-form-message-inline">This is a required field.</span>
                    </div>
            
                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Password">
                    </div>
            
            
            
                    <div class="pure-controls">
                       
                        <p id='mensagem'></p>
            
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

   

</body>
</html>